.obsidian/*
!.obsidian/plugins
.obsidian/plugins/*
!.obsidian/plugins/dataview/
!.obsidian/plugins/obsidian-git/
!.obsidian/plugins/obsidian-linter/
!.obsidian/plugins/quickadd/
!.obsidian/plugins/obsidian-outliner/
!.obsidian/plugins/table-editor-obsidian/
!.obsidian/plugins/obsidian-latex-suite/
!.obsidian/plugins/templater-obsidian
!.obsidian/app.json
.obsidian/app.json
.obsidian/app.json
.obsidian/plugins/table-editor-obsidian/data.json
.obsidian/app.json
.obsidian/app.json
.obsidian/app.json
.obsidian/plugins/obsidian-linter/data.json
.obsidian/app.json

# 针对Mac系统的忽略
.DS_Store
.obsidian/app.json
.obsidian/plugins/dataview/main.js
.obsidian/plugins/dataview/manifest.json
.obsidian/plugins/dataview/styles.css
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-git/styles.css
.obsidian/plugins/obsidian-latex-suite/main.js
.obsidian/plugins/obsidian-latex-suite/manifest.json
.obsidian/plugins/obsidian-latex-suite/styles.css
.obsidian/plugins/quickadd/data.json
.obsidian/plugins/quickadd/main.js
.obsidian/plugins/quickadd/manifest.json
.obsidian/plugins/quickadd/styles.css
.obsidian/plugins/table-editor-obsidian/data.json
.obsidian/app.json
.obsidian/plugins/dataview/main.js
.obsidian/plugins/dataview/manifest.json
.obsidian/plugins/dataview/styles.css
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-git/styles.css
.obsidian/plugins/obsidian-latex-suite/main.js
.obsidian/plugins/obsidian-latex-suite/manifest.json
.obsidian/plugins/obsidian-latex-suite/styles.css
.obsidian/plugins/quickadd/data.json
.obsidian/plugins/quickadd/main.js
.obsidian/plugins/quickadd/manifest.json
.obsidian/plugins/quickadd/styles.css
.obsidian/plugins/table-editor-obsidian/data.json
*.json
*.js
*.css
